<%= form_tag(calculate_exchange_rates_path, :method=>'get', :multipart => true) do %>
  <p>
    Count:<br />
      <%= number_field_tag :count %>
    <br />
    Date:<br />
      <%= date_field_tag :date %>
    <br />
    <%= submit_tag 'Calculate' %>
  </p>

<% end %>



